{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/stock.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="grid-products">

    <form method="GET" id = "zoekbak">
        <input type="text" name="search" placeholder="Zoek product" class="zoekbak" value="{{ request.GET.search }}">
        <button type="submit" class= "submit-zoekbak"><img class= 'looking-glass'src='{% static "image/looking_glass.png" %}'></button>
    </form>


    <div id = "item1">
        <a class= "card-btn">product toevoegen</a>
        <div>
            
        </div>

    </div>  

    <div id ='item2'> 
        <div class= 'flex-products'> 
        {% for product in products %}
            {% include "components/stock-card.html" with product=product %}
        {% endfor %}
        </div>
    </div>

    <div>
    </div>    
</div>
    {% endblock content %}
